@use '../abstracts/' as *;

:root {
  --nav-panel-width: 240px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $primary-font;
  font-size: 1.6rem;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100vh;
  line-height: 1.4;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

/* Buttons */

button {
  margin: 2rem;
  font-size: 1.8rem;
  padding: 1.6rem 7rem;
  border-radius: 50px;
  border: 1.4px solid $light-green;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.button-green {
  color: $light-green;
  background-color: $dark-green;
}

.button-white {
  background-color: $white;
  color: $dark-green-full;
}

.button-green:hover {
  background-color: $white;
  color: $dark-green-full;
}

.button-white:hover {
  color: $white;
  background-color: $dark-green;
}

/* Loading Animaion */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
