@import '../../styles/abstracts/variables';

.swiper {
  width: 100%;
}

.swiperSlide {
  padding-top: $padding-top-mobile;
  height: 0;
  position: relative;
  color: $white;
  text-align: center;
  min-width: calc(100% - 20px);
  border-radius: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiperSlideSm {
  max-width: 500px;
}

.swiperCard {
  border-radius: 15px;
  padding-bottom: 5.4rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.swiperImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.textContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  color: $white;
}

.instructor {
  padding: 0.5rem;
  color: $white;
}

@media (min-width: $breakpoint-tablet) {
  .swiperSlide {
    padding-top: $padding-top;
    min-width: 200px;
  }
}
