@import '../../styles/abstracts/variables';

.socialBtns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.socialIconCircle {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  margin: 0 5px;
  border: 2px solid $light-green;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.socialIcon {
  fill: $light-green;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - (1rem / 2));
  left: calc(50% - (1rem / 2));
}
