@import '../../styles/abstracts/variables';

:root {
  --speed: 500ms;
}

.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(180deg, $dark-green-full, $extra-dark-green);
  color: white;
  overflow: scroll;
}

.title {
  padding: 2rem 0;
  color: white;
  margin-top: 5rem;
}

.para {
  margin-bottom: 50px;
  text-align: center;
  padding: 0 2rem;
  max-width: 800px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 50px;
}

.inputWrapper {
  position: relative;
  margin-bottom: 40px;
}

input[type=date] {
  position: relative;
  background-color: #97bf0f;
  color: white;
  padding: 18px;
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: 0 0.125rem rgba(0, 0, 0, 0.075);
  width: 300px;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.submitBtn {
  margin-bottom: 40px;
}
