.mobileMenu {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  right: 0;
  z-index: 10;
}

.menuIcon {
  margin: 1rem;
  font-size: 30px;
}
