// Primary Colors

$white: #fbfbfb;
$black: black;
$extra-dark-green: rgba(89, 114, 8, 0.781);
$dark-green: rgba(151, 191, 15, 0.7);
$dark-green-full: rgba(151, 191, 15, 1);
$light-green: rgb(210, 221, 173);
$light-green-transparency: rgb(161, 201, 29);
$orange: rgba(255, 180, 0, 1);

// Spacing
$desktop-full-width: 1200px;
