// Breakpoints
$desktop-full-width: 1200px;
$breakpoint-tablet: 768px;

// Primary Colors

$white: #fbfbfb;
$black: black;
$gray: rgb(161, 160, 160);
$extra-dark-green: rgba(89, 114, 8, 0.781);
$dark-green: rgba(151, 191, 15, 0.7);
$dark-green-full: rgba(151, 191, 15, 1);
$light-green: rgb(210, 221, 173);
$light-green-transparency: rgb(161, 201, 29);
$orange: rgba(255, 180, 0, 1);

// Padding top for Slider Cards
$padding-top-mobile: calc(100vh - 189px);
$padding-top: max(270px, calc(45% - 21px));
$padding-top-details: max(280px, 30%);

// Other
$details-col-1-width: max(280px, 30%);
