.speech {
  font-family: arial, sans-serif;
  font-size: 1.1em;
  color: #fff;
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.alert {
  background-color: #a53d38;
}

.success {
  background-color: green;
}
