.mainContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(151, 191, 15, 0.7), rgba(151, 191, 15, 0.7)), url(../../assets/images/expertClass02.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 100vh;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  margin-bottom: 30px;
  margin-top: 100px;
}

.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.formInput {
  width: 28rem;
  height: 3rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nameInput {
  width: 28rem;
  height: 3rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formSubmit {
  background-color: white;
  margin: 1rem 0;
  height: 2.5rem;
  width: 9rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(151, 191, 15, 1);
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
