.remove-class-container {
  width: 1070px;
  height: 100vh;
  padding: 20px;
  margin-left: 240px;
}

.heading {
  text-align: center;
  margin: 25px auto;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.reservations-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 700px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.reservations-table thead tr {
  background-color: #97bf0f;
  color: #fff;
  text-align: left;
}

.reservations-table th,
.reservations-table td {
  padding: 12px 15px;
}

.reservations-table tbody tr {
  border-bottom: thin solid #ddd;
}

.reservations-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.reservations-table tbody tr:last-of-type {
  border-bottom: 2px solid #97bf0f;
}

.reservations-table tbody tr.active-row {
  font-weight: bold;
  color: #97bf0f;
}

.class-item {
  padding: 1rem;
  border: 1px solid greenyellow;
}

.remove_btn {
  background-color: transparent;
  border: 0;
  color: #97bf0f;
}

.remove_btn:hover {
  background-color: transparent;
  font-size: 14px;
  width: 25px;
  border: 0;
  color: red;
  text-decoration: underline;
}
