@import '../../styles/abstracts/variables';

.heading {
  margin: 25px auto;
  text-transform: uppercase;
}

.reservations-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  min-width: 700px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.reservations-table thead tr {
  background-color: $dark-green-full;
  color: $white;
  text-align: left;
}

.reservations-table th,
.reservations-table td {
  padding: 12px 15px;
}

.reservations-table tbody tr {
  border-bottom: thin solid #ddd;
}

.reservations-table tbody tr td {
  vertical-align: middle;
}

.reservations-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.reservations-table tbody tr:last-of-type {
  border-bottom: 2px solid $dark-green-full;
}

.reservations-table tbody tr.active-row {
  font-weight: bold;
  color: $dark-green-full;
}

.class-item {
  padding: 1rem;
  border: 1px solid $light-green-transparency;
}

.itemTitle {
  font-size: 1.6rem;
}

.remove_btn {
  background-color: transparent;
  border: none;
  color: $dark-green-full;
  border-radius: 0;
  cursor: pointer;
  font-weight: normal;
  padding: 0;
  display: block;
  margin: 0;
  box-shadow: none;
}

.remove_btn svg {
  display: block;
  width: 100%;
  transition: all var(--speed);
}

.remove_btn svg:hover {
  color: red;
  transition: all var(--speed);
  transform: scale(1.2);
}
