.add-class-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(151, 191, 15, 0.7), rgba(151, 191, 15, 0.7)), url(../../assets/images/expertClass02.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 100vh;
  margin-left: 240px;
}

.main-container,
.add-class-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #fff;
  text-align: center;
  margin: 25px auto;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.add-class-form div {
  width: 70%;
  margin: 5px;
}

.add-class-form div input {
  width: 100%;
  border-radius: 50px;
  padding: 15px;
  border: 0;
}

input.class-submit {
  background-color: #fff;
  border: 2px solid rgba(151, 191, 15);
  color: rgba(151, 191, 15);
}

input.class-submit:hover {
  background-color: rgba(151, 191, 15);
  color: #fff;
  border: 1px solid #eee;
}

.upload-box {
  border: 1px solid #eee;
  border-radius: 25px;
  padding: 12px 0 0 0;
}

.instructor-image {
  margin: 0;
  padding: 0;
}

.instruction {
  margin: 10px 20px;
  color: #fff;
}
