@import '../../styles/abstracts/variables';

.nav-panel {
  display: none;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: var(--nav-panel-width);
  border-right: 2px solid #eee;
}

.nav-link {
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: $black;
  font-size: 1.8rem;
  padding: 1rem 1rem 1rem 2rem;
}

.nav-link:hover {
  background-color: $light-green;
}

.active-nav-link,
.active-nav-link:hover {
  color: $white;
  background-color: $dark-green-full;
}

.logOutBtn {
  display: none;
  position: absolute;
  bottom: 0;
  font-size: 1.4rem;
  padding: 1.2rem 5rem;
}

@media (min-width: $breakpoint-tablet) {
  .nav-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: var(--nav-panel-width);
    border-right: 2px solid #eee;
  }

  .logOutBtn {
    display: block;
  }
}
