@import '../../styles/abstracts/variables';

.nav-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: var(--nav-panel-width);
  border-right: 2px solid #eee;
}

.nav-link,
.active-nav-link {
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.nav-link {
  color: $black;
  font-size: 1.8rem;
}

.nav-link:hover {
  background-color: $light-green;
}

.active-nav-link {
  color: $white;
  background-color: $dark-green-full;
}

.logOutBtn {
  position: absolute;
  bottom: 0;
  font-size: 1.4rem;
  padding: 1.2rem 5rem;
}
