@import '../../styles/abstracts/fonts';
@import '../../styles/abstracts/variables';

.heading {
  text-align: center;
  margin: 25px auto 0.5rem;
  text-transform: uppercase;
}

.subHeading {
  font-family: $secondary-font;
  text-align: center;
  margin-bottom: 25px;
  color: $gray;
  font-size: 1.4rem;
}

@media (min-width: $breakpoint-tablet) {
  .classesPageContainer {
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .classesContentWrapper {
    width: calc(100vw - (var(--nav-panel-width) + 1.6rem + 40px));
  }
}
