@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/fonts';

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.pageTitle {
  color: white;
  font-family: $secondary-font;
  text-align: center;
}

.caption {
  color: white;
  text-align: center;
  padding: 1rem 2.5rem;
}

.buttonsDiv {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.formInput {
  width: 28rem;
  height: 3rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nameInput {
  width: 28rem;
  height: 3rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formSubmit {
  margin: 1rem 0;
  height: 2.5rem;
  width: 9rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: $dark-green-full;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: $breakpoint-tablet) {
  .innerContainer {
    width: $desktop-full-width;
    padding: 0 10rem;
  }

  .buttonsDiv {
    flex-direction: row;
  }
}
