@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/fonts';

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, $dark-green-full, $extra-dark-green), url(../../assets/images/expertClass02.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 100vh;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $desktop-full-width;
  padding: 0 10rem;
}

.pageTitle {
  color: white;
  font-family: $secondary-font;
}

.caption {
  color: white;
  text-align: center;
  padding: 1rem 2.5rem;
}

.buttonsDiv {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.formInput {
  width: 28rem;
  height: 3rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nameInput {
  width: 28rem;
  height: 3rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formSubmit {
  margin: 1rem 0;
  height: 2.5rem;
  width: 9rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: $dark-green-full;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
