.speech {
  font-family: arial, sans-serif;
  font-size: 1.1em;
  color: #fff;
  position: absolute;
  background: #a53d38;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.speech::after {
  position: absolute;
  content: '';
  border: 20px solid transparent;
}
